[Unit]
Description=Run Sport World synchronization every 30 minutes

[Timer]
OnCalendar=*:0/30
Persistent=true
Unit=runflow-sport-world.service

[Install]
WantedBy=timers.target
